/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;600&family=Noto+Serif+Display:ital,wght@1,700&display=swap');
:root {
	font-family: 'Epilogue', Helvetica, sans-serif;
	color: var(--text-color);
	background-color: var(--bg-color);
	line-height: 1.3;
	transition: 0.3s ease;

	/* just in case */
	--lightest: #f2f2f7;
	--lighter: #dadae5;
	--light: #b4b4bf;
	--mid: #9595a6;
	--dark: #737380;
	--darker: #45454d;
	--darkest: #16161a;

	/* light mode colors */
	--primary-color: #c4a9a1;
	--primary-selected-color: #99786e;
	--secondary-color: var(--light);
	--secondary-selected-color: var(--mid);
	--secondary-subtle-color: rgba(180, 180, 191, 0.5);
	--text-color: var(--darker);
	--bg-color: var(--lightest);
	--primary-light-color: #dccac4;
	--highlight-color: rgba(196, 169, 161, 0.2); // var(--mid), 20% opacity
	--secondary-highlight-color: rgba(180, 180, 191, 0.15); // var(--light), 15% opacity
	--gradient-color: linear-gradient(20deg, var(--darkest), var(--light));
	--transparent: rgba(0, 0, 0, 0);
	--postcard-color: rgba(242, 242, 247, 0.2); // var(--lightest), 20% opacity

	/* blob-colors */
	--blob-1: rgba(178, 195, 246, 0.35);
	--blob-2: rgba(196, 169, 161, 0.35);

	--header-font: 'Noto Serif Display';
}

[data-theme='dark'] {
	/* dark mode colors */
	--primary-color: #91aaf2;
	--primary-selected-color: #6884d9;
	--secondary-color: var(--dark);
	--secondary-subtle-color: rgba(69, 69, 77, 0.8);
	--secondary-selected-color: var(--mid);
	--text-color: var(--lighter);
	--bg-color: var(--darkest);
	--primary-light-color: #b2c3f6;
	--highlight-color: rgba(145, 170, 242, 0.2);
	--secondary-highlight-color: rgba(69, 69, 77, 0.3); // var(--darker), 15% opacity
	--gradient-color: linear-gradient(20deg, var(--dark), var(--lighter));
	--transparent: rgba(0, 0, 0, 0);
	--postcard-color: rgba(69, 69, 77, 0.2); //var(--darker), 20% opacity

	/* blob-colors */
	--blob-1: rgba(55, 80, 153, 0.2);
	--blob-2: rgba(115, 83, 73, 0.2);
}

h1 {
	/* fallback for the gradient */
	background-color: var(--dark);

	/* the gradient */
	background-image: var(--gradient-color);

	/* set the background size and repeat properties. */
	width: fit-content;
	background-size: 100%;
	background-repeat: repeat;

	/* use the text as a clipping mask */
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;

	font-family: var(--header-font);
	font-size: 3rem;
	margin-bottom: 0;
}

h2 {
	/* fallback for the gradient */
	background-color: var(--dark);

	/* the gradient */
	background-image: var(--gradient-color);

	/* set the background size and repeat properties. */
	width: fit-content;
	background-size: 100%;
	background-repeat: repeat;

	/* use the text as a clipping mask */
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;

	font-weight: 600;
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

/* when there's more than one button in a row */
.buttons {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 0.5rem;
}

body::-webkit-scrollbar {
	width: 11px;
}

body {
	scrollbar-width: thin;
	scrollbar-color: var(--secondary-color) none;
	-webkit-background-clip: text;
	background-clip: text;
	margin: 0;
}

body::-webkit-scrollbar-track {
	background: none;
	z-index: -1;
}

body::-webkit-scrollbar-thumb {
	background-color: var(--secondary-color);
	border-radius: 6px;
	border: 3px solid var(--bg-color);
}

html {
	scroll-snap-type: y proximity;
	scroll-padding-top: 20vh;
}

.right-justified {
	justify-content: flex-end;
}

ul {
	padding-left: 1rem;
}
ol {
	padding-left: 1rem;
}
li {
	margin-bottom: 0.5rem;
}
:global(.hidden) {
	visibility: hidden;
}
a {
	color: var(--primary-color);
	&:hover {
		color: var(--primary-selected-color);
	}
}

.date {
	line-height: 0.25;
	color: var(--secondary-color);
	font-weight: 600;
	font-style: italic;
	font-size: 0.9rem;
}
